extends layout

block content

    h1 Experiment
    div(class="panel")
        div(class="panel_left")
            h2 Occured Experiments
        div(class="panel_right")
            h2 Submit Experiment
            form(action="submit_experiment", method="post")
                label(for="lab_id") Lab
                select(name="lab_id")
                    each lab in labs
                        option(value=lab.id)=lab.code
                label(for="exp_id") Experiment
                select(name="exp_id")
                    each exp in experiments
                        option(value=exp.id)=exp.code
                textarea(name="information" cols="30" rows="10" placeholder="Information")
                input(type="submit" value="Add")