extends layout

block content
    div
        h1 Experiments will be here
        div
            p
                a(href="/experiment?id=1") Experiment 1
            p
                a(href="/experiment?id=2") Experiment 2
            p
                a(href="/experiment?id=3") Experiment 3
            p
                a(href="/experiment?id=4") Experiment 4
            p
                a(href="/experiment?id=5") Experiment 5
            p
                a(href="/experiment?id=6") Experiment 6
            p
                a(href="/experiment?id=7") Experiment 7
            p
                a(href="/experiment?id=8") Experiment 8
            