extends layout

block content
    div
        h1 Experiments
        div(class="panel")
            div(class="panel_left")
                h2 Available Experiments
                div
                    each e in experiments
                            a(href="/exp/"+e.id)
                                div(class="card")
                                    p=e.code
                                    p=e.description
                
            div(class="panel_right")
                h2 Add An Experiment
                form(action="/exp", method="POST")
                    input(type="text" name="code" placeholder="experiment code")
                    input(type="text" name="image" placeholder="experiment image")
                    input(type="text" name="description" placeholder="experiment description")
                    input(type="submit", value="Add")
                img(src="Description.png", style="width: 320px" alt="")