extends layout

block content

    

    div(class="pane-header")
        h1 Welcome John Doe
        a(class="btn" href="submit_experiment") Submit An Experiment
    div
        h1 Recent Experiments (12)
        div(class="exp-list")
            ul
                li <b>Experiment 4</b> at <b>Lab 3</b> with no error.
                li Experiment 4 at Lab 3 with no error.
                li Experiment 4 at Lab 3 with no error.
                li Experiment 4 at Lab 3 with no error.