extends layout

block content
    div
        h1 Labs will be here
        div
            p
                a(href="/laboratory?title=A") Lab A
            p
                a(href="/laboratory?title=B") Lab B
            p
                a(href="/laboratory?title=C") Lab C
            p
                a(href="/laboratory?title=D") Lab D
            