extends layout

block content
    h1 Laboratories
    div(class="panel")
        div(class="panel_left")
            h2 Labs Recorded
            div
                each l in labs
                    a(href="/lab/"+l.id)
                        p= l.code
                        
        div(class="panel_right")
            h2 Add Lab
            form(action="/lab", method="POST")
                input(type="text" name="code" placeholder="lab code")
                input(type="submit", value="Add")