extends layout

block content
    div
        h1 LAB: #{title}
        div(class="lab")
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque provident hic maiores. Quod, maxime vel, voluptatum quos fugiat minima eum laborum odio mollitia labore voluptas exercitationem cupiditate pariatur maiores amet!
            