html
    head
        link(rel="stylesheet", href="style.css")
    body
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/laboratories") Laboratories
                li
                    a(href="#") Products
                li
                    a(href="/experiments") Experiments
        main
            block content