html
    head
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap")
    body
        nav
            ul
                li
                    a(href="/") DASHBOARD
                li
                    a(href="/inventory") INVENTORY
                li
                    a(href="/exp") EXPERIMENTS
                li
                    a(href="/lab") LABS
        main
            p= flash
            block content